fastapi
uvicorn
pillow
requests
python-dotenv
pymongo
dnspython
deep-translator
langdetect
google-generativeai
ollama
python-multipart
chromadb
psutil
opencv-python
numpy
torch
torchvision
ultralytics
scikit-learn
streamlit
matplotlib
tqdm
flask
flask-cors
